* {
    margin: 0;
    padding: 0;
}

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    
    height: 100vh;
    
}

main {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    gap: 18px;
}


section {
    position: relative;
    padding: 18px;
}


.header{
    display: flex;
    flex-direction: column;

    max-width: 350px;
}

.header h1{
    color: var(--very-dark-magenta);
    font-size: 700;
    font-weight: bold;
}

.header p{
    margin-top: 10px;
    color: var(--dark-grayish-magenta);
    font-size: 400;
}

.status {
    color: var(--very-dark-magenta);
    font-weight: bold;
    max-width: 350px;
}

.status p{
    background-color: var(--light-grayish-magenta);
    margin: 10px;
    padding: 5px 15px;
    width: 350px;
    border-radius: 4px;
}

p:nth-child(1){
    position: absolute;
    top: -30px;
    left: -30px;;
}
p:nth-child(3){
    position: absolute;
    top: 60px;
    left: 60px;
}

